* {
    font-size: 105%;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#content_header {
    display: flex;
    justify-content: center;

    border-style: groove;

    margin: 5px;
}

#content_weather_elements {
    display: flex;
    justify-content: space-around;
    height: 700px;

    border-style: groove;

    margin: 5px;
}

#weather_city_search {
    display: flex;
    flex-direction: column;
    align-items: left;

    border-style: groove;

    margin: 5px;
}

.city_search_spacing {
    margin: 5px;
}

#weather_city_display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 75%;

    border-style: groove;

    margin: 5px;
}

#city_display_main {
    border-style: groove;
    margin: 5px;
}

#display_main_title {
    font-size: 48px;
    font-weight: bold;
}

.main_display_text_spacing {
    margin-left: 5px;
}

#city_display_five_day {
    border-style: groove;

    margin: 5px;
}

#five_day_title {
    border-style: groove;
    margin: 5px;
}

#five_day_list {
    display: flex;
    justify-content: space-around;
    border-style: groove;
    margin: 5px;
}

#five_day_forecast_element {
    width: 15%;
    border-style: groove;
    margin: 5px;
}

